<div class="container">
  <div *ngIf="name === 'BTC'" class="curr-background-color col-3">
    <div class="row">
      BTC/USD <div class="ml-1 curr-number-color">{{value | number: '1.0-3'}}</div>
    </div>
  </div>
  <div *ngIf="name === 'LTC'" class="curr-background-color col-3">
    <div class="row">
      LTC/USD <div class="ml-1">{{value | number: '1.0-3'}}</div>
    </div>
  </div>
  <div *ngIf="name === 'ETH'" class="curr-background-color col-3">
    <div class="row">
      ETH/USD <div class="ml-1">{{value | number: '1.0-3'}}</div>
    </div>
  </div>
</div>
