<div class="container">
  <div class="row mt-2">
    <div class="col">
      <app-currency-pln name="BTC"></app-currency-pln>
      <app-currency-usd name="BTC" [value]="currencyBTC?.bid"></app-currency-usd>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <app-currency-pln name="LTC"></app-currency-pln>
      <app-currency-usd name="LTC" [value]="currencyLTC?.bid"></app-currency-usd>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <app-currency-pln name="ETH"></app-currency-pln>
      <app-currency-usd name="ETH" [value]="currencyETH?.bid"></app-currency-usd>
    </div>
  </div>
</div>
