<div class="container">
  <div class="row mt-2">
    <div class="col">
      <app-currency-pln name="BTC/PLN"></app-currency-pln>
      <app-currency-usd name="BTC/USD" [value]="currencyBTC?.bid"></app-currency-usd>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <app-currency-pln name="LTC/PLN"></app-currency-pln>
      <app-currency-usd name="LTC/USD" [value]="currencyLTC?.bid"></app-currency-usd>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <app-currency-pln name="ETH/PLN"></app-currency-pln>
      <app-currency-usd name="ETH/USD" [value]="currencyETH?.bid"></app-currency-usd>
    </div>
  </div>
</div>
